[user]
	email = 282571+rcrowe@users.noreply.github.com
	name = Rob Crowe
[url "git@github.com:"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/rcrowe/.gitignore
