[battery]
disabled = true

[buf]
disabled = true

[character]
success_symbol = "[➜](bold green) "
error_symbol = "[✗](bold red) "

[deno]
disabled = true

[directory]
truncation_length = 0
truncate_to_repo = true

[docker_context]
disabled = true

[dotnet]
disabled = true

[gcloud]
disabled = true

[golang]
disabled = true

[gradle]
disabled = true

[line_break]
disabled = true

[nix_shell]
# format = 'via ❄️ [\(nix\)](bold blue) '
format = 'via ❄️ '

[nodejs]
disabled = true
